#box-content {
    width: 80%;
    height: 850px;
    margin: 0 auto;
    display: flex;

}

#tac-gia-title {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: green;
    font-weight: bolder;
}


#tac-gia-content {
    flex: 2.5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;

}


.tac-gia-box {
    width: 222px;
    height: 233px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tac-gia-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.tac-gia-box-name {
    padding-top: 15px;
}

#tin-content {
    flex: 1;
}

.tins img {
    width: 120px;
    height: 77px;
    border-radius: 8px;
}

.tins {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
}

#tins-border {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

#tins-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

#tins-content-text {
    font-size: 14px;
    margin-bottom: 5px;
}

#tins-content-date {
    font-size: 14px;
    color: gray;
}